/*公用样式*/
body{
	margin: 0;
	padding: 0;
	background-color: #fff;
	font-family: "微软雅黑";
}


.left{
	float: left;
}

.right{
	float: right;
}

a{
	font-size: 12px;
	text-decoration: none;
	color: #333;
	
}

.w{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

/*恢复夫容器塌陷的高度*/
.clear:after{
	display: block;
	content: "";
	clear: both;
}


/*导航栏*/
.top{
	background-color: #e1f3fd;
	height: 38px;
	line-height: 38px;
	min-width: 1200px;
}

.top .zuo{
	list-style: none;
	margin: 0;
	padding: 0;
}

.top .zuo li {
	float:left ;
	padding: 0 11px;
	position: relative;
	height: 38px;
	
}

/*hover效果*/
.top .zuo li:hover{
	background-color: darkgrey;
}

.top .zuo li:hover span.fa:before{
	content: "\f106";
	
}

.top .zuo li:hover .dao{
	display: block;
}


.top .zuo span.fa{
	color: red;
}

/*二级导航栏*/
.top li .dao{
	list-style: none;
	margin: 0;
	padding: 0;
	background-color:darkgrey ;
	width: 100px;
	position: absolute;
	top: 38px;
	left: 0;
	text-align: center;
	display: none;
	z-index: 999;
}

.top li .dao li{
	
	float: none;
	padding: 0;
	
}


.top .dao li:hover{
	background-color:#e1f3fd ;

}

.top .dao li:hover a{
	color: red;
}

/*微信*/
.top .you{
	list-style: none;
	padding: 0;
	margin: 0;
	width: 30px;
	height: 38px;
	position: relative;
}
.top .you li{
	width: inherit;
	height: inherit;
}
.top .you li img{
	position: absolute;
	top: 9px;
}

.top .you .weixi{
	display: none;
	position: absolute;
	right: 0;
	top: 38px;
	width: 110px;
	height: 110px;
}

.top .you li:hover .weixi{
	display: block;
}


/*logo栏*/
.logo-1{
	height: 112px;
	line-height: 112px;
	padding: 20px 0;
	box-sizing: border-box;
}

.logo-2{
	height: 72px;
}

.logo-3{
	height: 72px;
	line-height: 72px;
}

.logo-1 .dianhua{
	height: 72px;
	line-height: 72px;
}

.logo-1 .dianhua ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.logo-1 .dianhua ul li{
	float: left;
	margin: 0 18px;
	font-size: 16px;
	color: #333;
}

.logo-1 .dianhua ul li span.fa{
	font-size: 30px;
	color: #efc15f;
	margin-right: 4px;
}

.logo-1 .dianhua .hua{
	font-size: 18px;
}

.logo-1 .dianhua .hua span.fa{
	font-size: 24px;
	color: red;
	
}

/*banner*/
.banner{
	height: 350px;
	background-color: red;
	position: relative;
}

.banner ul{
	list-style: none;
	margin: 0;
}
.banner ul li {
	height: 350px;
	width: 100%;
	position: absolute;
	top: 0;
	left:0 ;
	display: none;
}

.banner ul li:first-child{
	display: block;
	
}

/*点点*/

.banner .sh{
	position: absolute;
	bottom: 20px;
	left:50%;
	
}

.banner .sh span{
	display: block;
	width: 14px;
	height: 14px;
	
	border-radius: 50%;
	float: left;
	margin-right: 8px;
	border: 1px solid #FFFFFF;
}

.banner .sh span.active{
	border-color:#de2824;
	background-color: #de2824;
}


/*课程*/
.zhong{
	height: 450px;
	background-color:;
	position: relative;
	margin-top: 30px;
}

.zhong>div{
	height: inherit;
}

.zhong .ke{
	background-c;
	width: 220px;
	position: absolute;
	top: 0;
	left: 0;
}


.zhong .ke ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.zhong .ke ul li {
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
	border-bottom: 1px solid darkgrey;
	border-left: 1px solid darkgrey;
	border-right: 1px solid darkgrey;
	padding-left: 20px;
	
}

.zhong .ke ul li:first-child{
	height: 50px;
	line-height:50px ;
	background-color: #dd2726;
	border-left:none ;
	border-right:none ;
	
}
.zhong .ke ul li:first-child a{
	
	font-size: 16px !important;
	color: #FFFFFF;
}

.zhong .ke ul li:first-child:hover{
	 background-color:#dd2726 ;
	 
}

.zhong .ke ul li:first-child:hover a{
	font-size: 16px !important;
	color: #FFFFFF;
	
}

.zhong .ke ul.da li a{
	font-size: 14px;
	margin-right:10px;
}

.zhong .ke ul li:hover{
	background-color: #EEEEEE;
}

.zhong .ke ul li:hover a{
	font-size: 16px;
	color: #DD2726;
}


.zhong .ke ul li span a{
	font-size: 10px !important;
	color: darkgray;
	margin: 0 13px;
}

.zhong .ke .xiao li{
	height: 40px;
} 

.zhong .xinwen{
	height: 450px;
	background-color:;
	padding-left: 220px;
	padding-right:200px;
}

.zhong .tui{
	width: 200px;
	background-color: aqua;	
	position: absolute;
	right: 0;
	top: 0;
}


/*新闻*/
.xinwen .diyige{
	height: 48px;
	width: 100%;
	background-color: ;
	margin-bottom: 2px;
	padding: 0 100px 0 22px;
	
}

.xinwen .diyige ul{
	margin: 0;
	padding: 0;	
	width: 740px;
	list-style: none;
	height: inherit;
	line-height: 48px;
	border-bottom: 1px solid #A9A9A9;
	margin-right: 22px;
}
 .xinwen .diyige ul li{
 	float: left;
 	margin: 0 22px;
 	width: 100px;
 	text-align:center;
 }

 .xinwen .diyige ul li a{
 	font-size: 16px;
 	
 }

.xinwen .diyige ul li:hover{
	border-bottom:2px solid red;
 	box-sizing: border-box;
	
}

.xinwen .diyige ul li:hover a{
	color: red;
}


.xinwen .dierge .class{
	height:100px ;
	width: 390px;
	padding: 16px 22px;
	box-sizing: border-box;
}

.xinwen .dierge .class .tutu{
	margin-right:24px ;
}

.xinwen .dierge .class .tutu img{
	width: 50px;
	height: 50ox;
	border-radius: 50%;
}

.xinwen .dierge .class .tutu p{
	margin: 0;
	padding-left: 8px;
	color: darkgray;
	font-size: 12px;
}

.xinwen .dierge .class .zizi p{
	margin:0 ;
	padding: 0;
	font-size: 12px;
	color: darkgray;
	
}

.xinwen .dierge .class .zizi p:first-child {
	margin-bottom: 10px;
	height: 20px;
	
}

.xinwen .dierge .class .zizi a{
	color: #333333;
	margin: 0;
	
	font-size: 14px;
}

.xinwen .dierge .class .zizi a:hover{
	color: red;
}


/*热门课程*/
.zhong .tui .one {
	height: 48px;
	line-height: 48px;
}

.zhong .tui .one p{
	margin: 0;	
	
}

.zhong .two{
	height: 120px;
	width: 100%;
	background-color: royalblue;
	margin-bottom: 10px;
	position: relative;
}

.zhong .two-1{
	background-image: url(../img/tu/kex.jpg);
	
}

.zhong .two-2{
	background-image: url(../img/tu/kex2.jpg);
}

.zhong .two-3{
	background-image: url(../img/tu/kex3.jpg);
}

.zhong .two .haha{
	height: 30px;
	line-height: 30px;
	width: inherit;
	background-color:rgba(0,0,0,0.5);
	position: absolute;
	bottom: 0px;
}

.zhong .two .haha p{
	margin: 0;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
}

.zhong .two .haha span{
	color: #EEEEEE;
	font-size: 10px;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 3px;
	left: 55px;
	display:none;
	
}

.zhong .two .haha:hover{
	height: 50px;
}

.zhong .two .haha:hover span{
	display: block;
}


/*最新开班*/
.kaiban{
	height: 290px;
	margin-top: 50px;
	background-color: da;
}

/*开班课程*/
.kaiban .shang-1{
	height: 40px;
	width:100% ;
	background-color:;
}

.kaiban .shang-1 ul{
	list-style: none;
	padding: 0;
	margin: 0;
	height: 40px;
	line-height: 40px;
	border-bottom:1px solid #A9A9A9;
	box-sizing: border-box;
}
.kaiban .shang-1 ul li{
	float: left;
	padding: 0 25px;
	height: inherit !important;
	box-sizing: border-box;
	
}

.kaiban .shang-1 ul li:first-child a{
	font-size: 18px;
	margin-right: 150px;
}

.kaiban .shang-1 ul li:first-child{
	margin-left: 0 ;
	
}

.kaiban .shang-1 ul li.qiehuan{
	border-bottom: 2px solid red;
}

.kaiban .xia-1{
	height: 250px;
	background-color:;
	
}

.kaiban .xia-1 ul{
	height: 250px;
	display: none;
	margin: 0;
	padding: 0;
	padding: 20px 0;
}

.kaiban .xia-1 ul:first-child{
	display: block;
}

.kaiban .xia-1 ul li{
	list-style: none;
	height: 250px;
	width: 260px;
	background-color:;
	margin: 0 20px;
	float: left;
	
}

.kaiban .xia-1 ul li img{
	
	width: inherit;
	height: 180px;
}

.kaiban .xia-1 ul li p{
	margin: 8px 0;
}


.kaiban .xia-1 ul li span{
	font-size: 14px;
	color: #A9A9A9;
	float: left;
	
}

.kaiban .xia-1 ul li a{
	float: right;
	color: #A9A9A9;
}



/*表格*/

.biaoge{
	
	height: 150px;
	background-color:;
	margin-top: 30px;
}

.biaoge table{
	height: inherit;
	width: 570px;
	text-align: center;
	
}

.biaoge table td{
	margin: 0 20px;
	font-size: 12px;
	color: #333;
}


.biaoge table td:first-child{
	text-align: left !important;
}


.biaoge table td a{
	color: #34baf2;
	
}

.biaoge table th{
	font-size:14px;
	color: #333;
	border-bottom: 1px solid darkgray;
}
